@CHARSET "UTF-8";

.header {
	background-color: #4d4d4d;
}

.header h2 {
	font-family: Times New Roman;
	font-size: 18px;
	font-style: italic;
	font-color: white;
}

.header h1 {
	font-family: Times New Roman;
	font-size: 25px;
	font-color: white;
}	


.single_article:
{
	margin: 10px 10px 10px 10px;
	border-width: 1px;
	border-radius: 10;
	border-color: black;
	background-color: gray;
}

.single-article h2
{
	padding: 10px 10px 10px 10px;
	text-allign: center;
	font-size: 20px;
}

.pic
{
	width: 200px;
	hight: 300px;
}